# Parsing Table Data into Graphs

In [1]:
import pandas as pd

df1 = pd.read_csv('data/activity_list.csv')
df1.head()

   ID Activity  Optimistic  Normal  Pessimistic
0   1        A           2       4            6
1   2        B           3       5            9
2   3        C           4       5            7
3   4        D           4       6           10
4   5        E           4       5            7

In [2]:
df1['Expected'] = (df1['Optimistic'] + 4*df1['Normal'] + df1['Pessimistic']) / 6.0
df1.head()

   ID Activity  Optimistic  Normal  Pessimistic  Expected
0   1        A           2       4            6  4.000000
1   2        B           3       5            9  5.333333
2   3        C           4       5            7  5.166667
3   4        D           4       6           10  6.333333
4   5        E           4       5            7  5.166667

In [3]:
df2 = pd.read_csv('data/edge_list.csv')
df2.head()

   ID  Parent  Child
0   1       1      3
1   2       1      4
2   3       2      5
3   4       3      5
4   5       4      6

In [4]:
import networkx as nx

G = nx.DiGraph()